###SSH Port Forwarding Configuration###

####Global Configuration Options###

#Host * will apply to all hosts
Host *
	  #Note default is 3
    ServerAliveCountMax 4
		#Note default is 0       
    ServerAliveInterval 15      
    User dallan
    IdentityFile ~/.ssh/id_rsa_bnl.pub

####Port Forwarding Directives###

### Note: "ssh" will cause DNS lookups to "ssh.bnl.gov" or "ssh.sec.bnl.local", depending on interface
Host ssh
    HostName ssh.bnl.gov
    # HostName ssh.sec.bnl.local
    # HostName ssh

Host 32
    Hostname 32.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p

Host box32-1
    Hostname box32-1.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10002 box32-1.nsls2.bnl.gov:22

Host box32-3
    Hostname box32-3.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10003 box32-3.nsls2.bnl.gov:22

Host box64-1
    Hostname box64-1.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10001 localhost:4000

Host box64-2
    Hostname box64-2.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10200 localhost:4000

Host box64-1
    Hostname box64-1.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10201 localhost:4000

Host box64-2
    Hostname box64-2.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10201 localhost:4000

Host box64-3
    Hostname box64-3.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10201 localhost:4000

Host jupyterhub
    Hostname jupyterhub.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10006 localhost:22

Host jupyterhub2
    Hostname jupyterhub2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10006 localhost:22

Host jupyterdev
    Hostname jupyterdev.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10006 localhost:22

Host e1nano
    Hostname e1nano.nsls.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY ssh -W %h:%p
    LocalForward 10202 localhost:4000

Host code
    Hostname code.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10004 localhost:22

Host cagw
    Hostname cagw01.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10005 localhost:22

Host blboot
    Hostname blbootbox01.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10008 localhost:22

Host 23id-broker
    Hostname xf23id-broker.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10010 localhost:22

Host 21id1-ws1
    Hostname xf21id1-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10010 localhost:22

Host 23id1-ioc1 
    Hostname xf23id1-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10010 localhost:22

Host 23id1-ioc2 
    Hostname xf23id1-ioc2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10020 localhost:4000

Host 23id1-ioc3 
    Hostname xf23id1-ioc3.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10020 localhost:4000


Host 23id2-ioc1 
    Hostname xf23id2-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10030 localhost:22

Host 23id-ca
    Hostname xf23id-ca.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10040 localhost:22

Host 23id1-srv1
    Hostname xf23id1-srv1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11973 localhost:11973

Host 10id-srv1
    Hostname xf10id-srv1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11973 localhost:11973

Host test1
    Hostname test1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11973 localhost:11973

Host tmpnb
    Hostname tmpnb.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11973 localhost:11973

Host tmpnb1
    Hostname tmpnb1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11973 localhost:11973

Host 23id1-srv2
    Hostname xf23id1-srv2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10042 localhost:4000

Host 23id1-ws1
    Hostname xf23id1-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10045 localhost:4000

Host 23id1-ws2
    Hostname xf23id1-ws2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10046 localhost:4000

Host 23id1-ws3
    Hostname xf23id1-ws3.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10046 localhost:4000

Host 23id-ws3
    Hostname xf23id-ws3.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10046 localhost:4000

Host 11id-srv1
    Hostname xf11id-srv1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10050 localhost:22

Host 11ida-ioc1
    Hostname xf11ida-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10050 localhost:22

Host 11idb-ioc1 
    Hostname xf11idb-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10060 localhost:22

Host 11id-ws1 
    Hostname xf11id-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10070 localhost:4000

Host 11id-ws2 
    Hostname xf11id-ws2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10070 localhost:4000

Host 3id-srv1 
    Hostname xf03id-srv1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 10070 localhost:4000

Host 5id1-ws1 
    Hostname xf05id1-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11000 localhost:4000

Host 5id1-ws2 
    Hostname xf05id1-ws2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11000 localhost:4000

Host 5id1-ws3 
    Hostname xf05id1-ws3.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11000 localhost:4000

Host 5id1-ws4 
    Hostname xf05id1-ws4.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11001 localhost:4000

Host 5ida-ioc1
    Hostname xf05ida-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11002 localhost:4000

Host 5idd-ioc1
    Hostname xf05idd-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11003 localhost:4000

Host 5id-ca1
    Hostname xf05id-ca1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11004 localhost:4000

Host 8id-ws1
    Hostname xf08id-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 11004 localhost:4000

Host 28id-ca1
    Hostname xf28id-ca1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 12000 localhost:4000

Host 28idc-ioc1
    Hostname xf28idc-ioc1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 12001 localhost:4000

Host 28id1-ws2
    Hostname xf28id1-ws2.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 12002 localhost:4000

Host 10id-ca1
    Hostname xf10id-ca1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 13000 localhost:4000

Host 10idu-ws1
    Hostname xf10idu-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 13001 localhost:4000

Host 11bm-ws1
    Hostname xf11bm-ws1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 13001 localhost:4000

Host freyja
    Hostname freja.nsls2.bnl.gov
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 13001 localhost:4000

Host 17id1-ca1
    Hostname xf17id1-ca1.cs.nsls2.local
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 13001 localhost:4000


Host danallan
    Hostname danallan.com

Host mobtown
    # note: this uses the key id_rsa, others use id_rsa_osx
    Hostname mobtownballroom.com

Host cooley
    Hostname cooley.alcf.anl.gov
    # http://www.alcf.anl.gov/user-guides/new-user-guide

Host ec2
    Hostname 52.70.105.68
    ForwardAgent yes
    ProxyCommand ssh -qY box64-1 -W %h:%p
    LocalForward 13001 localhost:4000
